body {
    font-family: 'Nanum Gothic', sans-serif;
}

.main {
    width: 1000px;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: auto;
}

.grid-item-1 {
    background-color: silver;
}

.grid-item-2 {
    display: flex;
    flex-direction: column;
}

.drag-drop {
    width: 200px;
    height: 223px;
    border: 1px dashed grey;
    margin: 70px auto auto auto;
    text-align: center;
    line-height: 200px;
}

.dropped {
    width: 200px;
    height: 223px;
    margin: 70px auto auto auto;
}

.picture {
    width: 200px;
    height: 223px;
}



.box {

}

.text-field {
    margin: 30px 0 0 0;
    min-height: 30px;
    max-width: 100%;
    border: 1px solid grey;
}

.text-saved {
    margin: 20px 0 0 20px;
    min-height: 30px;
    max-width: 100%;
}

.added-item {

}

.line {
    margin: 20px 0 0 20px;
    border-top: 2px solid darkgoldenrod;
}

h1 {
    align-self: center;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0px 2px 5px gray;
}

h2 {
    margin: 0 0 0 100px;
}

.profile {
    margin-top: 70px;
}

.rodo {
    text-align: justify;
}

.name {
    display: block;
    margin: 20px auto;
}

/*icons*/

.fa-mobile-alt {
    font-size: 2em;
    color: darkslategray;
    margin: 20px auto;
    display: block;
}

.fa-address-card {
    font-size: 2em;
    color: darkslategray;
    margin: 20px auto;
    display: block;
}

.fa-at {
    font-size: 2em;
    color: darkslategray;
    margin: 20px auto;
    display: block;
}

.fa-save {
    font-size: 2em;
    color: grey;
    margin-right: 5px;
}

.fa-edit {
    font-size: 2em;
    color: grey;
    margin-right: 5px;
}

.fa-plus-square {
    font-size: 2em;
    margin-right: 5px;
    color: grey;
}

.fa-trash-alt {
    font-size: 1.9em;
    color: grey;
    margin-right: 5px;
}

i {
    display: block;
}

/*buttons*/

button {
    display: block;
    float: right;
    border: none;
    background: transparent;
    padding: 0;
}

.save-edit {
    position: relative;
}

.save-edit::before {
    content: "";
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    top: -1px;
}

.add {
    position: relative;
}

.add::before {
    content: '';
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    top: -1px;
}

.remove {
    position: relative;
}

.remove::before {
    content: '';
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    top: -1px;
    margin-right: 5px;
}